# Python
backend/venv/
backend/__pycache__/
*.pyc

# Flutter/Dart
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/

# IDEs
.idea/
.vscode/
*.swp
*.log